{% assign spcmpCollArr = "" %}
{% for collection in product.collections %}
{% assign spcmpCollArr = spcmpCollArr | append: ',' | append: collection.id %}
{% endfor %}

{% if add-to-compare == 'product'%}
<input style="display:none;"  type="button" value="Add to Compare" class="SPCMP_Add" spcmp_collids="{{spcmpCollArr | remove_first: ','}}" spcmp_pid="{{product.id}}" spcmp_vid="{{ product.variants.first.id }}">
{% elsif add-to-compare == 'loop' %}
<label class="SPCMP_chk_lbl" style="display:none;">
  <input type="checkbox" class="SPCMP_Add " name='SPCMP_chk' spcmp_collids="{{spcmpCollArr | remove_first: ','}}" spcmp_pid="{{product.id}}" spcmp_vid="{{ product.variants.first.id }}">
  <span class="SPCMP_Add_span"></span>
</label>
{% endif %}