<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 10)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
  <script src="https://cdn.pagesense.io/js/betterpatiotest/b0c632e663f847139ed0e2fe65247c9a.js"></script><head>{% render 'pagefly-head' %}
{% include 'SEOManager' %}
<meta name="facebook-domain-verification" content="1umn8gmhl0j9pkgmg4ik8e2ffj5364" />

    <!-- Global site tag (gtag.js) - Google Ads: 993598349 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-993598349"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-993598349');
</script>
<script>
  gtag('config', 'AW-993598349/apwVCKHq4o8BEI235NkD', {
    'phone_conversion_number': '866-412-1555'
  });
</script>
    <script src="https://cdn.pagesense.io/js/betterpatiotest/b0c632e663f847139ed0e2fe65247c9a.js"></script>
    <script type="text/javascript">
{% comment %}(function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/LGZLTkdC8Si2TNef7t7yZqx3c0M0mCsEJGnX25el/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();{% endcomment %}
</script>
            
    <meta charset="utf-8">
    <meta http-equiv="cleartype" content="on">
    <meta name="robots" content="index,follow">
      
    
    
      <!-- Custom Fonts -->
   <link href="//fonts.googleapis.com/css?family=.|{% if settings.logo_typeface_method == "google_webfonts" %}{{ settings.logo_google_webfont_font }}:light,normal,bold|{% endif %}{% if settings.headline_typeface_method == "google_webfonts" %}{{ settings.headline_google_webfont_font }}:light,normal,bold|{% endif %}{% if settings.nav_typeface_method == "google_webfonts" %}{{ settings.nav_google_webfont_font }}:light,normal,bold|{% endif %}{% if settings.regular_typeface_method == "google_webfonts" %}{{ settings.regular_google_webfont_font }}:light,normal,bold{% endif %}" rel="stylesheet" type="text/css" />  

   <link href="//fonts.googleapis.com/css?family=.|{% if settings.call-us_typeface_method == "google_webfonts" %}{{settings.call-us_google_webfont_font }}:light,normal,bold|{% endif %}{% if settings.phone-main_typeface_method == "google_webfonts" %}{{ settings.phone-main_google_webfont_font }}:light,normal,bold|{% endif %}{% if settings.advance-menu_typeface_method == "google_webfonts" %}{{ settings.advance-menu_google_webfont_font }}:light,normal,bold|{% endif %}{% if settings.brands-carousel_typeface_method == "google_webfonts" %}{{ settings.brands-carousel_google_webfont_font }}:light,normal,bold|{% endif %} " rel='stylesheet' type='text/css'> 
      
    {% include 'social-meta-info' %}

    {% if collection.previous_product %}
      <link rel="prev" href="{{ collection.previous_product }}">
    {% endif %}
    {% if collection.next_product %}
      <link rel="next" href="{{ collection.next_product }}">
    {% endif %}

    <!-- Mobile Specific Metas -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 

    <link href='//fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    
    <!-- Stylesheets for Retina 3.1 -->
    {{ 'styles.scss.css' | asset_url | stylesheet_tag }}
{{ 'custom.scss.css' | asset_url | stylesheet_tag }}
{{ 'popup.css' | asset_url | stylesheet_tag }}
    <!--[if lte IE 9]>
      {{ 'ie.css' | asset_url | stylesheet_tag }}
    <![endif]-->
    <!--[if lte IE 7]>
      {{ 'lte-ie7.js' | asset_url | script_tag }}
    <![endif]-->
    
    <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.png' | asset_url }}">
    <link rel="canonical" href="{{ canonical_url }}" />
    
    {% if template contains 'customer' %}
      {{ "shopify_common.js" | shopify_asset_url | script_tag }}
      {{ "customer_area.js"  | shopify_asset_url | script_tag }}
      <!--[if lt IE 7]>
        {{ 'json2.js' | shopify_asset_url | script_tag }}
      <![endif]-->
    {% endif %}
   
     <!-- Stylesheets for owl.carousel -->
     {{ 'owl.carousel.css' | asset_url |stylesheet_tag }}
    
     <!-- Stylesheets for Page Scroll BTN -->
     {{ 'yps-scroll-top.css' | asset_url |stylesheet_tag }}
    
    <link href='https://fonts.googleapis.com/css?family=Lato:900italic,900,700italic,700,400italic,400,300,300italic,100italic,100' rel='stylesheet' type='text/css'>

    <!-- jQuery and jQuery fallback -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write("<script src='{{ "jquery.min.js" | asset_url }}'>\x3C/script>")</script>
    {{ 'app.js' | asset_url | script_tag }}
    {% if settings.product_slideshow_animation == 'zoom' %}{{ "cloudzoom.js" | asset_url | script_tag }}{% endif %}
    {{ 'option_selection.js' | shopify_asset_url | script_tag }}        
    
  {{ content_for_header }}<!--PROOF PIXEL--><script src="https://cdn.useproof.com/proof.js?acc=P2XG0dTqgFe5kr28QkBBBIJBAAo2" async></script><!--END PROOF PIXEL-->
{% comment %} BOLD-PRODUCT LIGHT VERSION {% endcomment %}
{% include 'bold-product' with product, hide_action: 'header' %}

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% include 'bold-common' %}
{% comment %}
  <script type="text/javascript" async src="https://judge.me/shopify.js"></script>  
      {% endcomment %}
    <!-- BEGIN - ADDED BY ONLYGROWTH.COM -->
  <style type="text/css">
  .ogpo-option label:first-of-type {
    font-weight: bold;
  }
    .ogpo-control-label {
      font-weight: 500;
      margin-bottom: -10px;
      
  }  
     .ogpo-option {
    margin-bottom: 15px;
    width: 100% !important;
    margin: 50px;   
     
  }
    
  .ogpo-custom-swatch.round .ogpo-swatch {
    margin-right: 0;
    margin-left: 0;
  }
    .ogpo-custom-swatch .ogpo-swatch {
     margin: 0px 0px 10px -10px;
  }
    
  input.quantity {
      margin-top: 15px;
  }
  
    .add_to_cart {
     margin-top: 15px;
  
  }
        
  </style>
  <!-- END - ADDED BY ONLYGROWTH.COM -->
	
   <!-- script file for owl.carousel -->
   {{ 'owl.carousel.min.js' | asset_url | script_tag  }}
<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '361072411329543');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=361072411329543&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
<script type="application/javascript">
  (function(b,o,n,g,s,r,c){if(b[s])return;b[s]={};b[s].scriptToken="Xy0xMTIwMTUyNjIz";b[s].callsQueue=[];b[s].api=function(){b[s].callsQueue.push(arguments);};r=o.createElement(n);c=o.getElementsByTagName(n)[0];r.async=1;r.src=g;r.id=s+n;c.parentNode.insertBefore(r,c);})(window,document,"script","//cdn.oribi.io/Xy0xMTIwMTUyNjIz/oribi.js","ORIBI");
</script>
  
 <meta name="p:domain_verify" content="a230651ae9843b028883e4145c956c09"/>
  {% include 'judgeme_core' %}
 
{% render 'pagefly-header' %}
<script>var w=window;var p = w.location.protocol;if(p.indexOf("http") < 0){p = "http"+":";}var d = document;var f = d.getElementsByTagName('script')[0],s = d.createElement('script');s.type = 'text/javascript'; s.async = false; if (s.readyState){s.onreadystatechange = function(){if (s.readyState=="loaded"||s.readyState == "complete"){s.onreadystatechange = null;try{loadwaprops("27218d28c96aa859e8524157c06aa1b9f","284f3fbda41a2227544b5077c3a9b178f","21a9a0fdada681cf4f73d46141c9bb863894375f7a7d2d66f","2d5e048b5ea8523fc6e5d88de664f195b","0.0");}catch(e){}}};}else {s.onload = function(){try{loadwaprops("27218d28c96aa859e8524157c06aa1b9f","284f3fbda41a2227544b5077c3a9b178f","21a9a0fdada681cf4f73d46141c9bb863894375f7a7d2d66f","2d5e048b5ea8523fc6e5d88de664f195b","0.0");}catch(e){}};};s.src =p+"//marketinghub.zoho.com/hub/js/WebsiteAutomation.js";f.parentNode.insertBefore(s, f);</script>
 </head> 
  <body class="{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}">
    <div>
      <div id="header" class="mm-fixed-top">
        <a href="#nav" class="icon-menu"> <span>{{ 'layout.general.menu' | t }}</span></a>
        <a href="#cart" class="icon-cart right">{% if cart.item_count > 0 %}<div class="cart_count">{{ cart.item_count }}</div>{% endif %} <span>{{ 'layout.general.cart' | t }}</span></a>
      </div>
      
      <div class="hidden">
        <div id="nav">
          <ul>
            {% for link in linklists[settings.main_linklist].links %}
              {% if linklists[link.handle] == empty %}
                <li {% if link.active %}class="Selected"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% else %}
                <li {% if link.active %}class="Selected"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a>
                  <ul>
                    {% for link in linklists[link.handle].links %}
                      {% if linklists[link.handle] == empty %}
                        <li {% if link.active %}class="Selected"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a></li>
                      {% else %}
                      <li {% if link.active %}class="Selected"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a> 
                        <ul>
                          {% for link in linklists[link.handle].links %}                        
                            <li {% if link.active %}class="Selected"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a></li>
                          {% endfor %}
                        </ul>
                      </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
              {% endif %}
            {% endfor %}

          </ul>
        </div> 
          
        <form action="/checkout" method="post" id="cart">
          <ul data-money-format="{{ shop.money_format }}" data-shop-currency="{{ shop.currency }}" data-shop-name="{{ shop.name | escape }}">
            <li class="mm-subtitle"><a class="mm-subclose continue" href="#cart">{{ 'layout.general.continue_shopping' | t }}</a></li>

            {% if cart.item_count == 0 %}
              <li class="mm-label empty_cart"><a href="/cart">{{ 'layout.general.empty_cart' | t }}</a></li>
            {% else %}
              {% for item in cart.items %}
                <li class="cart_item">
                  <a href="{{ item.url }}">
                    <div class="cart_image">
                      <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}" />
                    </div>
                    <div class="item_title">{{ item.title }}</div>
                    <strong class="price">{{ item.price | money }}</strong>
                    <div class="quantity_selector">
                      <span class="minus">-</span><input type="number" min="0" class="quantity" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" /><span class="plus">+</span>
                    </div>
                  </a>
                </li>
              {% endfor %}
            
              <li class="mm-label">
                <p class="mm-counter">{{ cart.total_price | money }}</p>
                <a href="/cart">
                  <strong>{{ 'layout.general.subtotal' | t }}</strong>
                </a>
              </li>
            
              <!-- Route Code Edited 02/03/2022 -->   
              <div class="route-div" slideout-checker slideout-checker-force-redirect="/checkout" disable-reorder desktop-align="center" watch-changes=".icon-cart.cart-button"></div>  
              <!-- End Route Code -->

              <li class="mm-subtitle clearfix">
                {% if settings.display_special_instructions %} 
                  <textarea id="note" name="note" rows="2" placeholder="{{ 'layout.general.cart_note' | t }}" class="clearfix">{{ cart.note }}</textarea>        
                {% endif %}

                {% if settings.display_tos_checkbox %}
                  <p class="tos">
                    <input type="checkbox" class="tos_agree" id="sliding_agree" />
                    <label class="tos_label" for="sliding_agree">
                      {{ 'cart.general.agree_to_terms_html' | t }}
                    </label>
                  </p>
                {% endif %}

                <input type="submit" class="action_button right" value="{{ 'layout.general.checkout' | t }}" />
                <a href="/cart" class="action_button edit_cart left">{{ 'layout.general.edit_cart' | t }}</a>
              </li>
            {% endif %}
            	
          </ul>
        </form>
      </div>
		<!--Baner-->
      	<!-- 
          {% if settings.promo_text != blank %}
          <div class="promo_banner">
          {{ settings.promo_text }}
          </div>
          {% endif %}                                    
		-->
        <div class="container cut-pad-bottom"> 
          <div class="four columns logo">
            <a href="{{ shop.url }}" title="{{ shop.name }}">
              {% if settings.use_logo %}
                <img src="{% if settings.use_logo_home and template contains "index" %}{{ 'logo_home.png' | asset_url }}{% else %}{{ 'logo.png' | asset_url }}{% endif %}" alt="{{ shop.name }}" data-src="{{ 'logo.png' | asset_url }}" {% if settings.use_logo_home %}data-src-home="{{ 'logo_home.png' | asset_url }}"{% endif %} />
              {% else %}
                {{ shop.name }}
              {% endif %}
            </a>
          </div>
          <!-modify code-->
          <div class = "twelve columns nav mobile_hidden clearfix">  
          <div class="phone-block">
             <h4>
                <i class="phone-icon-cust" id="phone-icon-bg">
               		<img src="{{"phone-icon-img.png" | asset_url}}"/>			
               </i>	
               <span class="call-us">{{settings.text-call-phone}}</span>
               <span class="number-phone">{{settings.field-phone}}</span>
            </h4>
          </div>
            <div class="right-menu-top">
              <div class="advance-menu clearfix" id="advance-menu">
                {% if settings.advance-list != blank %}
                <ul class="advance-menu-list">
                
                  {% if shop.customer_accounts_enabled %}
                    {% if customer %}
                      <li>
                        <a href="/account" class="customer_login_link">{{ customer.name }}</a>
                      </li>
                      <li>
                        {{ 'layout.customer.log_out' | t | customer_logout_link }}
                      </li>
                    {% else %}
                      <li>
                        {{ 'layout.customer.my_account' | t | customer_login_link }}
                      </li>
                    {% endif %}
                  {% endif %}
        
                  {% for link in linklists[settings.advance-list].links %}
                  <li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
                  {% endfor %} 
                </ul>
                {% endif %} 
                   <a href="#cart" class="icon-cart cart-button">{% if cart.item_count > 0 %}<div class="cart_count">{{ cart.item_count }}</div>{% endif %} <span>{{ 'layout.general.cart' | t }}</span></a>
               </div>
               <ul class="menu centr-head">           
                 <li>
                   <form action="/search" class="mod-form-search">
                    {% if settings.search_option != 'everything' %}
                      <input type="hidden" name="type" value="product" />
                    {% endif %}
                    <span class="icon-search search-submit"></span>
                    <input type="text" name="q" class= "mod-search-input" placeholder="Find anything for your patio..." value="{% if search and search.results.first.price %}{{ search.terms }}{% endif %}" autocapitalize="off" autocomplete="off" autocorrect="off" />
                   </form>
                 </li>
                 <li class="treakorder">
                  	<a href="https://betterpatio.aftership.com" target="_blank">Track Your Order</a>  
            	 </li>
                <!-- 
                {% if settings.search_enabled %}
                    <li>
                      <a href="/search" title="{{ 'general.search.title' | t }}" class="icon-search" id="search-toggle"></a>
                    </li> 
                  {% endif %}
                   -->
                  {% if settings.show_multiple_currencies %}            
                 <li>
                   {% include 'currencies-switcher' %}
                 </li>
                  {% endif %}
              </ul>
            </div>
          </div>
          <div class="sixteen columns nav mobile_hidden">
            <ul class="menu main-menu">
              {% for link in linklists[settings.main_linklist].links %}
                {% if linklists[link.handle] == empty %}
                  <li><a href="{{ link.url }}" class="top-link {% if link.active %}active{% endif %}">{{ link.title }}</a></li>
                {% else %}

                  {% comment %}
                    Find out how many sub-links there are total in order to determine if the drop down should be split.
                  {% endcomment %}
                  {% assign count = 0 %}
                  {% for link in linklists[link.handle].links %}
                    {% capture count %}{{ count }}*{% endcapture %}
                    {% if linklists[link.handle] != empty %}
                      {% for link in linklists[link.handle].links %}
                        {% capture count %}{{ count }}*{% endcapture %}
                      {% endfor %}
                    {% endif %}
                  {% endfor %}
                  {% assign column_threshold = settings.dropdown_column_links | minus: 0 %}

                  <li><a href="{{ link.url }}" class="sub-menu {% if link.active %}active{% endif %} {% for link in linklists[link.handle].links %}{% for l in linklists[link.handle].links %} {% if l.active %}active{% endif %}{% endfor %}{% if link.active %}active{% endif %}{% endfor %}">{{ link.title }}                     
                    <span class="arrow">▾</span></a> 
                    <div class="dropdown">
                      <ul>
                        {% assign count = 0 %}
                        {% assign split = false %}
                        {% for link in linklists[link.handle].links %}
                          {% capture count %}{{ count }}*{% endcapture %}
                          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                          {% if linklists[link.handle] != empty %}
                            {% for link in linklists[link.handle].links %}
                              {% capture count %}{{ count }}*{% endcapture %}
                              <li>
                                <a class="sub-link" href="{{ link.url }}">{{ link.title }}</a>
                              </li>
                            {% endfor %}
                          {% endif %}

                          {% if count.size > column_threshold and split == false %}
                            {% assign split = true %}
                            </ul>
                            <ul>
                          {% endif %}
                        {% endfor %}
                      </ul>
                    </div>
                  </li>
                {% endif %}
              {% endfor %}
            
              {% if settings.social_icons_enabled %}
                {% if settings.twitter_link != '' %}
                  <li><a href="{{ settings.twitter_link }}" title="{{ shop.name }} on Twitter" rel="me" target="_blank" class="icon-twitter"></a></li>
                {% endif %}
                
                {% if settings.facebook_link != '' %}
                  <li><a href="{{ settings.facebook_link }}" title="{{ shop.name }} on Facebook" rel="me" target="_blank" class="icon-facebook"></a></li>
                {% endif %}
                
                {% if settings.google_link != '' %}
                  <li><a href="{{ settings.google_link }}" title="{{ shop.name }} on Google+" rel="publisher" target="_blank" class="icon-google-plus"></a></li>
                {% endif %}
                
                {% if settings.youtube_link != '' %}
                  <li><a href="{{ settings.youtube_link }}" title="{{ shop.name }} on YouTube" rel="me" target="_blank" class="icon-youtube"></a></li>
                {% endif %}

                {% if settings.vimeo_link != '' %}
                  <li><a href="{{ settings.vimeo_link }}" title="{{ shop.name }} on Vimeo" rel="me" target="_blank" class="icon-vimeo-2"></a></li>
                {% endif %}
                
                {% if settings.pinterest_link != '' %}
                  <li><a href="{{ settings.pinterest_link }}" title="{{ shop.name }} on Pinterest" rel="me" target="_blank" class="icon-pinterest"></a></li>
                {% endif %}
                
                {% if settings.tumblr_link != '' %}
                  <li><a href="{{ settings.tumblr_link }}" title="{{ shop.name }} on Tumblr" rel="me" target="_blank" class="icon-tumblr"></a></li>
                {% endif %}
                
                {% if settings.linkedin_link != '' %}
                  <li><a href="{{ settings.linkedin_link }}" title="{{ shop.name }} on LinkedIn" rel="me" target="_blank" class="icon-linkedin"></a></li>
                {% endif %}
                
                {% if settings.flickr_link != '' %}
                  <li><a href="{{ settings.flickr_link }}" title="{{ shop.name }} on Flickr" rel="me" target="_blank" class="icon-flickr"></a></li>
                {% endif %}

                {% if settings.instagram_link != '' %}
                  <li><a href="{{ settings.instagram_link }}" title="{{ shop.name }} on Instagram" rel="me" target="_blank" class="icon-instagram"></a></li>
                {% endif %}

                {% if settings.email_link != '' %}
                  <li><a href="mailto:{{ settings.email_link }}" title="Email {{ shop.name }}" target="_blank" class="icon-mail"></a></li>
                {% endif %}
              {% endif %}			
            </ul>
          </div>
        </div>
        {% if settings.use_banner %}
          <div class = "container inform">
            <div class = "eight column half-column left-column">
              <div class=" inform-block">

               <a href="{{settings.other-img-url-1}}">
                  <img class="baner-img" src="{{'other-img.jpg' | asset_url}}"> 
                </a>

              </div>          
            </div>
             <div class = "eight column half-column right-column">
               <div class=" inform-block">

                 <a href="{{settings.other-img-url-2}}">
                  <img class="baner-img-two" src="{{'other-img-2.jpg' | asset_url}}"> 
                </a>

              </div>
            </div>	
          </div> 
       {% endif %}

      {% unless template contains "index" and settings.slideshow_enabled %}
      <div class="container main content"> 
      {% endunless %}
               
      {% unless settings.featured_content_page == blank or template contains "index" %}
        <div class="sixteen columns">
          <div class="section clearfix featured_content">
            {{ pages[settings.featured_content_page].content }}
          </div>
        </div>
        {% endunless %}    
        {% if template contains 'list-collections' %}
          {% include 'collection-listing' %}
        {% else %}
          {{ content_for_layout }}
{% include 'recently-viewed-mlveda' %}
        {% endif %}              
      </div>
      
        <!--Brands carousel-->  
      
      {% if template == 'index' %}
      	 {% if settings.enable-brand-logo %} 
       			{% include 'carousel-brands' %} 
      	 {% endif %} 	
      {% endif %}
     
      <div class="sub-footer">
        
        <div class="container">
          <div class="four columns">
            {% if settings.footer_linklist_1 != blank %}
              <h6 class="title">{{ linklists[settings.footer_linklist_1].title }}</h6>
              <ul class="footer_menu">
                {% for link in linklists[settings.footer_linklist_1].links %}
                  <li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>

          <div class="four columns">
            {% if settings.footer_linklist_2 != blank %}
              <h6 class="title">{{ linklists[settings.footer_linklist_2].title }}</h6>
              <ul class="footer_menu">
                {% for link in linklists[settings.footer_linklist_2].links %}
                  <li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>

          <div class="four columns">
            {% if settings.footer_content_page != blank %}
              <h6 class="title">{{ pages[settings.footer_content_page].title }}</h6>
              {{ pages[settings.footer_content_page].content }}
            {% endif %}

            {% if settings.social_icons_footer %}
            <ul class="social_icons">
              {% if settings.twitter_link != '' %}
                <li><a href="{{ settings.twitter_link }}" title="{{ shop.name }} on Twitter" rel="me" target="_blank"  class="icon-twitter"></a></li>
              {% endif %}
              
              {% if settings.facebook_link != '' %}
                <li><a href="{{ settings.facebook_link }}" title="{{ shop.name }} on Facebook" rel="me" target="_blank" class="icon-facebook"></a></li>
              {% endif %}
              
              {% if settings.google_link != '' %}
                <li><a href="{{ settings.google_link }}" title="{{ shop.name }} on Google+" rel="publisher" target="_blank" class="icon-google-plus"></a></li>
              {% endif %}
              
              {% if settings.youtube_link != '' %}
                <li><a href="{{ settings.youtube_link }}" title="{{ shop.name }} on YouTube" rel="me" target="_blank" class="icon-youtube"></a></li>
              {% endif %}

              {% if settings.vimeo_link != '' %}
                <li><a href="{{ settings.vimeo_link }}" title="{{ shop.name }} on Vimeo" rel="me" target="_blank" class="icon-vimeo-2"></a></li>
              {% endif %}
              
              {% if settings.pinterest_link != '' %}
                <li><a href="{{ settings.pinterest_link }}" title="{{ shop.name }} on Pinterest" rel="me" target="_blank" class="icon-pinterest"></a></li>
              {% endif %}
              
              {% if settings.tumblr_link != '' %}
                <li><a href="{{ settings.tumblr_link }}" title="{{ shop.name }} on Tumblr" rel="me" target="_blank" class="icon-tumblr"></a></li>
              {% endif %}
              
              {% if settings.linkedin_link != '' %}
                <li><a href="{{ settings.linkedin_link }}" title="{{ shop.name }} on LinkedIn" rel="me" target="_blank" class="icon-linkedin"></a></li>
              {% endif %}
              
              {% if settings.flickr_link != '' %}
                <li><a href="{{ settings.flickr_link }}" title="{{ shop.name }} on Flickr" rel="me" target="_blank" class="icon-flickr"></a></li>
              {% endif %}

              {% if settings.instagram_link != '' %}
                <li><a href="{{ settings.instagram_link }}" title="{{ shop.name }} on Instagram" rel="me" target="_blank" class="icon-instagram"></a></li>
              {% endif %}

              {% if settings.email_link != '' %}
                <li><a href="mailto:{{ settings.email_link }}" title="Email {{ shop.name }}" target="_blank" class="icon-mail"></a></li>
              {% endif %}
            </ul>
            {% endif %}
          </div>

          <div class="four columns">
            {% if settings.newsletter_enabled %}
              <h6 class="title">{{ 'general.newsletter_form.title' | t }}</h6>
              <p>{{ 'general.newsletter_form.description' | t }}</p>
              {% include 'newsletter' %}
            {% endif %}
          </div>

          <div class="sixteen columns mobile_only">
            <p class="mobile_only">
              {% if settings.show_multiple_currencies %}
                <label for="currencies">{{ 'layout.general.pick_a_currency' | t }}: </label>
                {% include 'currencies-switcher' %}
              {% endif %}
            </p>
          </div>
        </div>
      </div> 
    
      <div class="footer">
        <div class="container">
          
            <div style='clear: both; text-align: center; margin-top: -5px;'> {% include 'judgeme_widgets', widget_type: 'judgeme_verified_reviews_count_badge', concierge_install: true %} </div>
    <div style='clear: both; text-align: center; margin-top: -20px; margin-bottom: 15px;'>    {% include 'judgeme_widgets', widget_type: 'judgeme_all_reviews_text', concierge_install: true %}  </div>
          
          <div class="sixteen columns">
            <p class="credits">
              &copy; {{ "now" | date: "%Y" }} {{ shop.name | link_to: '/' }}.
              {{ settings.copyright_text }}
              {% if settings.display_designed_by == true %}
                {{ 'layout.general.designer_credits_html' | t }}
              {% endif %}
            
            </p>
            <div class="payment_methods ">
              {% if settings.use_paypal %}<img src="{{ 'cc-paypal-color.png' | replace: 'color', settings.payment_icons | asset_url }}" alt="PayPal" />{% endif %}
              {% if settings.use_bitcoin %}<img src="{{ 'cc-bitcoin-color.png' | replace: 'color', settings.payment_icons | asset_url }}" alt="Bitcoin" />{% endif %}
              {% if settings.use_amazon %}<img src="{{ 'cc-amazon-color.png' | replace: 'color', settings.payment_icons | asset_url }}" alt="Amazon" />{% endif %}
              {% if settings.use_visa %}<img src="{{ 'cc-visa-color.png' | replace: 'color', settings.payment_icons | asset_url }}" alt="Visa" />{% endif %}
              {% if settings.use_visaelectron %}<img src="{{ 'cc-visaelectron-color.png' | replace: 'color', settings.payment_icons | asset_url }}" alt="Visa Electron" />{% endif %}
              {% if settings.use_mastercard %}<img src="{{ 'cc-mastercard-color.png' | replace: 'color', settings.payment_icons | asset_url }}" alt="Mastercard" />{% endif %}
              {% if settings.use_amex %}<img src="{{ 'cc-amex-color.png' | replace: 'color', settings.payment_icons | asset_url }}" alt="American Express" />{% endif %}
              {% if settings.use_cirrus %}<img src="{{ 'cc-cirrus-color.png' | replace: 'color', settings.payment_icons | asset_url }}" alt="Cirrus" />{% endif %}
              {% if settings.use_discover %}<img src="{{ 'cc-discover-color.png' | replace: 'color', settings.payment_icons | asset_url }}" alt="Discover" />{% endif %}
              {% if settings.use_western_union %}<img src="{{ 'cc-westernunion-color.png' | replace: 'color', settings.payment_icons | asset_url }}" alt="Western Union" />{% endif %}
            </div>
        </div>
      </div>

      <div id="search">
        <div class="container">
          <div class="ten columns offset-by-three center">
            <div class="right search-close">
                X
            </div>
            <form action="/search">
              {% if settings.search_option != 'everything' %}
                <input type="hidden" name="type" value="product" />
              {% endif %}
              <span class="icon-search search-submit"></span>
              <input type="text" name="q" placeholder="{{ 'general.search.placeholder_with_shop_name' | t: shop_name: shop.name }}" value="{% if search and search.results.first.price %}{{ search.terms }}{% endif %}" autocapitalize="off" autocomplete="off" autocorrect="off" />
            </form>
          </div>
        </div>
      </div>
    </div>
    {% if settings.size_chart != blank %}
      <div id="size-chart">
        <h5 class="center">{{ pages[settings.size_chart].title }}</h5>
        {{ pages[settings.size_chart].content }}
      </div>
    {% endif %}    
    {% include 'newsletter-popup' %}
    {% include 'currencies' %}
         
      
      <script type="text/javascript">
  (function() {
    window._pa = window._pa || {};
    // _pa.orderId = "myOrderId"; // OPTIONAL: attach unique conversion identifier to conversions
    // _pa.revenue = "19.99"; // OPTIONAL: attach dynamic purchase values to conversions
    // _pa.productId = "myProductId"; // OPTIONAL: Include product ID for use with dynamic ads
    var pa = document.createElement('script'); pa.type = 'text/javascript'; pa.async = true;
    pa.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + "//tag.marinsm.com/serve/56b8b0e2d2de33595a000150.js";
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pa, s);
  })();
</script>
<script>          
//Baner in header (hover) images
    $('.baner-img').hover(function(){  
      $(this).attr("src","{{'other-img-hover.jpg' | asset_url}}");                                                
    },function(){
      $(this).attr("src","{{'other-img.jpg' | asset_url}}");   
    });  

    $('.baner-img-two').hover(function(){  
      $(this).attr("src","{{'other-img-hover-2.jpg' | asset_url}}");                                                
    },function(){
      $(this).attr("src","{{'other-img-2.jpg' | asset_url}}");   
    }); 

    $('.main-menu .sub-menu, .dropdown a').hover(function(){
      $(this).addClass('after-bord');  	
    });
    $('.main-menu .active, .dropdown a').hover(function(){
      $(this).addClass('before-bord'); 
    });   
                    
</script> 
<script>
jQuery(function() {
  jQuery('.swatch :radio').change(function() {
    var optionIndex = jQuery(this).closest('.swatch').attr('data-option-index');
    var optionValue = jQuery(this).val();
    jQuery(this)
      .closest('form')
      .find('.single-option-selector')
      .eq(optionIndex)
      .val(optionValue)
      .trigger('change');
  }); 
});
</script>
<script>
jQuery(function() {
  jQuery('.swatch :radio').change(function() {
    var optionIndex = jQuery(this).closest('.swatch').attr('data-option-index');
    var optionValue = jQuery(this).val();
    jQuery(this)
      .closest('form')
      .find('.single-option-selector')
      .eq(optionIndex)
      .val(optionValue)
      .trigger('change');
  }); 
});
</script>
<!-- modify scripts -->
{{ 'modify.js' | asset_url | script_tag  }}
      
<!--Script For Page Scroll Top BTN -->      
{{ 'yps-scroll-top.js' | asset_url | script_tag }}    
      
{{ 'jquery.pack.js' | asset_url | script_tag }}
      
<script type="text/javascript">
  $(function() {
    $('#prentTestimonial > .home-testimonial').pick(1);
    $('#prentTestimonial').css("display", "block");
});
</script>       
       
<script type="text/javascript">
            // Setup plugin with default settings
            $(document).ready(function() {

                $.apScrollTop({
                    'onInit': function(evt) {
                        console.log('apScrollTop: init');
                    }
                });

                // Add event listeners
                $.apScrollTop().on('apstInit', function(evt) {
                    console.log('apScrollTop: init');
                });

                $.apScrollTop().on('apstToggle', function(evt, details) {
                    console.log('apScrollTop: toggle / is visible: ' + details.visible);
                });

                $.apScrollTop().on('apstCssClassesUpdated', function(evt) {
                    console.log('apScrollTop: cssClassesUpdated');
                });

                $.apScrollTop().on('apstPositionUpdated', function(evt) {
                    console.log('apScrollTop: positionUpdated');
                });

                $.apScrollTop().on('apstEnabled', function(evt) {
                    console.log('apScrollTop: enabled');
                });

                $.apScrollTop().on('apstDisabled', function(evt) {
                    console.log('apScrollTop: disabled');
                });

                $.apScrollTop().on('apstBeforeScrollTo', function(evt, details) {
                    console.log('apScrollTop: beforeScrollTo / position: ' + details.position + ', speed: ' + details.speed);

                    // You can return a single number here, which means that to this position
                    // browser window scolls to
                    /*
                    return 100;
                    */

                    // .. or you can return an object, containing position and speed:
                    /*
                    return {
                        position: 100,
                        speed: 100
                    };
                    */

                    // .. or do not return anything, so the default values are used to scroll
                });

                $.apScrollTop().on('apstScrolledTo', function(evt, details) {
                    console.log('apScrollTop: scrolledTo / position: ' + details.position);
                });

                $.apScrollTop().on('apstDestroy', function(evt, details) {
                    console.log('apScrollTop: destroy');
                });

            });
      
      </script>
  {% include 'findify-tagging' %}
  {% include 'mw_PO_objects' %}
      
      
            

<!-- BEGIN ZOHO SALES IQ CHAT CODE -->      
  <script type="text/javascript">
var $zoho=$zoho || {};$zoho.salesiq = $zoho.salesiq || {widgetcode:"c0ed3269b28cf04e2ebe7c18bd0e2b8008d308c1809a3638a7390ab9ad176c94adb6ba2f42f862928232cfecf85c542a", values:{},ready:function(){}};var d=document;s=d.createElement("script");s.type="text/javascript";s.id="zsiqscript";s.defer=true;s.src="https://salesiq.zoho.com/widget";t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);d.write("<div id='zsiqwidget'></div>");
</script>    
<!-- END ZOHO SALES IQ CHAT CODE -->
      
<!-- BEGIN KLAVIYO SIGNUP FORM CODE -->
<script type="text/javascript">
var __klKey = __klKey || 'LPAWXB';
(function() {
var s = document.createElement('script');
s.type = 'text/javascript';
s.async = true;
s.src = '//static.klaviyo.com/forms/js/client.js';
var x = document.getElementsByTagName('script')[0];
x.parentNode.insertBefore(s, x);
})();
</script>
       <script type="text/javascript">//var $zoho= $zoho || {livedesk:{values:{},ready:function(){$zoho.livedesk.chat.floatingwindow('all');}}};var d=document;s=d.createElement("script");s.type="text/javascript";s.defer=true;s.src="https://salesiq.zoho.com/support.betterbrands/float.ls?embedname=betterbrands";t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);</script>
<!-- END KLAVIYO SIGNUP FORM CODE -->
<script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"25022171"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script>
       {% include 'smile-initializer' %}

{% include 'mw_CMB_objects' %}
      
      {% include 'recently-viewed-theme' %}
<script type="text/javascript" src="https://crm.zoho.com/crm/javascript/zcga.js"> </script>

{% include 'swymSnippet' %}

<script>window.KlarnaThemeGlobals={};{%case template.name%} {%when"product"%} window.KlarnaThemeGlobals.data_purchase_amount={{product.first_available_variant.price}};window.KlarnaThemeGlobals.productVariants={{product.variants|json}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%when"cart"%} window.KlarnaThemeGlobals.data_purchase_amount={{cart.total_price}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%endcase%}</script>
<script type="text/javascript" id="uts_lp" src="//www.linkconnector.com/uts_lp.php?cgid=901790"></script>

        <!-- PickyStory snippet "main_widget_script", do not modify. Safe to remove after the app is uninstalled -->
  {% if content_for_header contains 'pickystory' %}
    <script defer src="https://cdn.pickystory.com/widget/dist/latest/pickystory-widget.min.js"></script>
  {% endif %}
  <!-- PickyStory end snippet "main_widget_script" -->
</body>
</html>
        <!-- Start-MakeAnOffer version: 5 -->
        <script>
          var makeAnOfferData = (function() {
            var data = {
              product: null,
              cartProducts: [],
            }; 

            {% if product %}
              data.product = (function() {
                var mf_featured_image = "{{ product.selected_or_first_available_variant.featured_image | default: product.featured_image | img_url: '1024x1024'}}";
                var mf_other_image = "{{ product.images.first | img_url: '1024x1024' }}";
                return {
                  title: {{ product.title | json }},
                  price: "{{ product.price | money_without_currency }}",
                  currency: "{{ shop.money_format }}",
                  image: mf_featured_image || mf_other_image,
                  variants: {{ product.variants | json }},
                  tags: {{ product.tags | json }},
                  collections: {{ product.collections | json }},
                  url: "{{ product.url | within: collections.all }}",
                  available: {{ product.available }}
                }
              })();
            {% endif %}

            {% if cart.items.size > 0 %}
              {% for item in cart.items %}
                data.cartProducts.push(function() {
                  return {
                    title: {{ item.title | json }},
                    price: "{{ item.price | money }}",
                    image: "{{ item | img_url: '1024x1024' }}",
                    variants: {{ item.variants | json }},
                    url: "{{ item.url | within: collections.all }}",
                    sku: "{{ item.sku }}",
                    tags: {{ product.tags | json }},
                    collections: {{ product.collections | json }},
                    available: {{ item.product.available }}
                  }
                }());
              {% endfor %}
            {% endif %}

            return data;
          })();

        </script>
        <!-- End-MakeAnOffer -->
